$primary: #8dc63f;
$secondary: #00aeef;
$tertiary: #ffffff;
$accent: #fcb040;
$dark: #524c45;
$light: #716558;
$light_gray: #a6a5a4;
$input_border: #e1e1e1;
$menu-sidebar: #948b80;
$flyout_bg: #1a1207;
