/*------------------------------------*\
    #Global Settings / Variables
\*------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: $tertiary;
}

img {
	border: 0;
}