/*------------------------------------*\
    #Global Settings / Variables
\*------------------------------------*/


a, a:link, a:visited {
	color: $primary;
	text-decoration: underline;
	position: relative;

	&:hover {
		color: $accent;
	}
}