.h2, .h3{
	font-family: 'Montserrat', sans-serif;
}

.h2{
	font-size: 34px;

	@include bp(desktop){
		font-size: 45px;
	}
}

.subheading {
	font-family: 'Open Sans Light 300', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;

	margin: 0;
	padding: 10px 0;

	@include bp(desktop){
		font-size: 22px;
	}
}

.list-inline{
	display: block;
	list-style: none;

	@include bp(desktop){
		display: inline-block;
	}
}

.list-inline-item {
	display: block;

	@include bp(desktop){
		display: inline-block;
		vertical-align: top;
	}
}

/** FORM  ***/

.input {
	background-color: $tertiary;

	border-radius: 4px;
	border-width: 1px;
	border-color: $input_border;

	padding: 5px;

	color: $light_gray;
}

/*** MISC ***/
.icon-padded{
	padding: 5px 20px;
}

.mobile-only{

	@include bp(desktop) {
		display: none;
	}
}