/*------------------------------------*\
    #Template
\*------------------------------------*/

/**
 * #SETTINGS
 */
@import "_settings.colors";
@import "_settings.global";

@import "mixins/_transitions";
@import "mixins/_rotate";
@import "mixins/_mq";


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: $dark;
	text-align: left;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

/** Partials */
@import "base";

@import "header/header";

@import "footer/_footer";