
//@import "modules/_search";

.header{
	position: relative;
	overflow: hidden;
	display: block;
	background: $light url("../img/Home_Top_Bkd.jpg") top center no-repeat;
	background-size: cover;

	color: $tertiary;
	height: 100%;

	width: 100%;

	a, a:link, a:visited {
		color: $tertiary;
		text-decoration: none;
		position: relative;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;

		&:after{
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			width: 0;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-ms-transition: all .3s;
				transition: all .3s;
		}
		&:hover {
			color: $primary;

			&:after {
				width: 100%;
				height: 1px;
				background: $primary;
			}
		}
	}

}

.header-inner-container{
	margin: 0 auto;
	padding: 10px 20px 200px;

	@include bp(desktop){
		padding: 20px 20px 150px 20px;
		max-width: 1175px;
	}
}

.header-utils{
	width: 100%;
	max-width: 200px;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;

	@include bp(desktop){
		position: static;
		max-width: 100%;
	}

	.list-inline-item {
		vertical-align: bottom;
		line-height: 20px;
	}
}

.header-utils, .menu{
	.list-inline-item {
		font-size: 14px;
	}
}

.header-social-list-item {
	display: none;

	@include bp(desktop) {
		display: inline-block;
	}

}

.header-social-padded {
	line-height: 0;
	vertical-align: baseline;
	margin: 0 20px 0 0;
	display: inline-block;
}

.header-input-list-item {
	position: relative;
}

.header-search-label{
	color: $dark;
	position: absolute;
	right: 5px;
	top: 1px;
}

.header-input-search {
	width: 200px;

	&:after{
		content: '\f002';
		display: block;
		position: absolute;
		right: 0;
	}
}


.logo{
	display: inline-block;
	margin: 10px 0;
	padding: 0;

	max-width: 160px;

	@include bp(desktop) {
		max-width: 160px;
		display: block;
		float: left;
	}

	@include bp(wider-desktop) {
		max-width: 200px;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	@include transition();

}

.menu-bar {
	display: block;
	position: absolute;
	left: 0;
	top: 50px;
	right: 20px;
	text-align: right;
	width: 100%;
	padding-right: 20px;

	.fa{
		font-size: 45px;
	}

	&:hover{
		&:after{
			display: none;
		}
	}

	@include bp(desktop) {
		display: none;
	}
}

.menu {
	margin: 20px 0;

	display: block;
	width: 100%;
	max-width: 200px;

	@include bp(desktop) {
	  	vertical-align: top;
	  	float: right;
	  	max-width: 760px;
	}

	@include bp(wider-desktop) {
		max-width: 785px;
	}

	.list-inline {
		background-color: rgba(1, 1, 1, 0.9);
		padding: 10px 0;
		position: absolute;
		top: 110px;
		right: -220px;

		@include translate(0px);

		@include bp(desktop) {
			position: static;
			background: none;
		}

		&.is-active{
			@include translate(-220px);

			@include bp(desktop) {
				-moz-transform: translateX(0px);
				-o-transform: translateX(0px);
				-webkit-transform: translateX(0px);
				transform: translateX(0px);
			}

		}

		@include transition(all, .8s, ease-in-out);


	}

	.list-inline-item {
		text-align: right;
		padding: 0;

		&:first-child{
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		a{
			display: block;
			padding: 10px 20px;
			font-size: 14px;

			@include bp(desktop){
				padding: 0;
				font-size: 13px;
			}

			@include bp(wider-desktop) {
				font-size: 14px;
			}

			&:hover{
				background-color: rgba(252, 176, 64, 0.49);
				color: $tertiary;

				@include bp(desktop){
					background: none;
				}
			}

			&:after{
				display: none;

				@include bp(desktop) {
					background: none;
				}
			}

			@include transition();

		}

		@include bp(desktop){
			text-align: left;

			max-width:115px;
			vertical-align: middle;
			padding: 0 10px;

		}
	}
}


.header-content {
	clear: both;
	padding: 40px 0 40px;
	width: 100%;
	vertical-align: middle;

	@include bp(desktop) {
		padding-top: 60px;
		max-width: 640px;
	}
}