.home {
	background: $primary url('../img/Students_green.png') no-repeat bottom center / 100%;
	width: 100%;
	padding-bottom: 50px;

	@include bp(tablet) {
		padding-bottom: 100px;
	}
}
.home-intro-container {
	width: 100%;
	position: relative;
	max-width: 1170px;
	margin: -250px auto 0;
	padding: 25px 35px 0px;
	z-index: 100;

	@include bp(phone) {
		padding-bottom: 50px;
	}

	@include bp(tablet) {
		margin-top: -100px;
		width: 100%;
		background: #fff;
	}
}

.home-three-columns {

	margin-bottom: 50px;

	@include bp(tablet) {
		margin-bottom: 0;
	}

	> .column {
		text-align: center;

		@include bp(tablet) {
			border-right: 1px solid $light_gray;
			min-height: 300px;
			padding: 20px;
		}

		&:last-child {
			border: none;
			padding-right: 0;
		}
	}
}

.home-intro-header {

	@include bp(tablet) {
		line-height: 1.4;
		margin: 10px 0 25px;
	}
}

.home-intro-img {
	display: none;

	@include bp(tablet) {
		height: 65px;
		margin: 0 auto 10px;
		display: block;
		vertical-align: bottom;
	}
}

.home-intro-link {
	display: block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 15px 25px 15px 15px;
	text-align: left;
	border-radius: 8px;
	margin: 10px 15px;

	:before {
		content: "\f054";
		font-family: 'FontAwesome';
		display: block;
		position: absolute;
		right: 20px;

		@include bp(desktop) {
			display: none;
		}

	}

	@include bp(tablet) {
		min-height: 45px;
		text-align: center;
		border-radius: 0;
		margin: 0;
	}

	&:link, &:visited {

		color: $tertiary;
		text-decoration: none;
	}

	&:hover{
		color: $tertiary;
		cusor: pointer;
		@include bp(tablet) {
			color: $dark;
			text-decoration: underline
		}
	}

	&.orange {
		background-color: $accent;
		@include bp(tablet) {
			background: none;
			color: $accent;
		}

	}
	&.blue {
		background-color: $secondary;
		@include bp(tablet) {
			background: none;
			color: $secondary;
		}
	}
	&.green {
		background-color: $primary;
		@include bp(tablet) {
			background: none;
			color: $primary;
		}
	}
}

.home-intro-text {
	display: none;

	@include bp(tablet) {
		display: block;
	}
}

.sidebar-menu {
	background-color: $menu-sidebar;
	width: 240px;
	margin-right: 50px;
	padding: 30px 15px 30px 35px;
	display: inline-block;
	vertical-align: top;
	font-family: 'Montserrat', sans-serif;
	color: #fff;

	.sidebar-headline {
		font-size: 1.125rem;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	ul {
		list-style: none;

		a, a:link, a:visited {
			color: #fff;
			text-decoration: none;
			position: relative;
		}

		a.is-active:before {
			content: '';
			position: absolute;
			top: 0;
			left: -35px;
			bottom: 0;
			width: 20px;
			height: 100%;
			background-color: $accent;
		}

		li {
			margin-bottom: 20px;
		}
	}

}

.home-subcontent {
	color: $tertiary;
	text-align: center;

	@include bp(phone) {
		padding-top: 50px;
	}

	@include bp(desktop) {
		padding-top: 160px;
	}
}

/*.home-subcontent-3 {
	
	@include bp(tablet) {
		background: url('../img/Logo_Mark_Transparent.png') top left no-repeat;
	}
}*/

