
  <section class="prospect">

    <div class="prospect-container">

      <div class="sidebar-menu">
        <div class="sidebar-toggle"><i class="fa fa-angle-right"></i></div>
        <h3 class="sidebar-headline">ABOUT US</h3>
        <ul>
          <li><a href="#/about-us">About Us</a></li>
          <li><a href="#/ourhistory">Our History</a></li>
          <li><a href="#/theteam" class="is-active">Meet Our Team</a></li>
        </ul>
      </div>

      <div class="content-container">

        <h3 class="content-headline">Meet Our Team</h3>
        <p>
        As a parent, you want to give your child everything he or she needs to succeed in today’s world. Unfortunately, the traditional model of education is based on a very different work environment. This model no longer adequately prepares children for their futures and fails to give them the ability adapt to the fast paced world we live in.
        <br><br>
        <a href="#">Download Staff Directory PDF >></a>
        <br><br>
        <strong>COMING SOON:</strong> Individual Staff Pages
        </p>

      </div>

    <div class="meet-the-team" ng-controller="StaffCtrl">

      <ul class="team-listing" ng-model="data.list">
        <li ng-repeat="opt in staff.list">
          <img src="../img/staff/{{opt.pathImg}}" alt="" class="team">
          <h6 class="team-name">{{opt.firstName}}</h6>
          <p class="team-title">{{opt.staffTitle}}</p>
        </li>
        <li>
        </li>
      </ul>
      <div style="clear:both;"></div>

    </div>

      </div>

  </section>

