/*------------------------------------*\
    #Template
\*------------------------------------*/
/**
 * #SETTINGS
 */
/*------------------------------------*\
    #Global Settings / Variables
\*------------------------------------*/
a, a:link, a:visited {
  color: #8dc63f;
  text-decoration: underline;
  position: relative; }
  a:hover, a:link:hover, a:visited:hover {
    color: #fcb040; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #524c45;
  text-align: left;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased; }

/** Partials */
.h2, .h3, .h4 {
  font-family: 'Montserrat Bold', sans-serif; }

.h2 {
  font-size: 34px; }
  @media (min-width: 1024px) {
    .h2 {
      font-size: 45px; } }

.subheading {
  font-family: 'Open Sans Light 300', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 10px 0; }
  @media (min-width: 1024px) {
    .subheading {
      font-size: 22px; } }

.content-subheading {
  font-size: 30px; }

.minor-heading {
  color: #524c45; }

.uppercase {
  text-transform: uppercase; }

.center {
  text-align: center; }

.list-list {
  list-style: none;
  margin: 10px 0; }

.list-list-item {
  text-align: left;
  padding: 3px 0; }

.list-inline {
  display: block;
  list-style: none; }
  @media (min-width: 1024px) {
    .list-inline {
      display: inline-block; } }

.list-inline-item {
  display: block; }
  @media (min-width: 1024px) {
    .list-inline-item {
      display: inline-block;
      vertical-align: top; } }

.container-full-width {
  width: 100%;
  position: relative; }

.content-full-width {
  padding: 0 10px;
  width: 100%;
  max-width: 1170px; }
  @media (min-width: 1024px) {
    .content-full-width {
      padding: 25px 0px 20px 50px; } }

.center-text-content {
  text-align: center;
  padding: 50px 0; }

.left-text-content {
  text-align: left;
  padding: 50px;
  vertical-align: top; }

/** Columns */
.columns {
  width: 100%; }

.column {
  display: block; }
  @media (min-width: 768px) {
    .column {
      display: inline-block;
      vertical-align: top; } }

.column-one-third {
  width: 100%; }
  @media (min-width: 768px) {
    .column-one-third {
      width: 32.05128%;
      height: 100%;
      padding: 0 20px; } }

/** FORM  ***/
.input {
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #e1e1e1;
  padding: 5px;
  color: #a6a5a4; }

/* BUTTONS */
.button {
  display: inline-block;
  max-width: 310px;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
  border-radius: 3px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }
  .button:link, .button:visited {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
  .button:hover {
    color: #ffffff !important;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 102%; }

.button-orange:link, .button-orange:visited {
  background-color: #fcb040;
  border: 2px #ffffff solid; }
.button-orange:hover {
  color: #ffffff; }

.button-green:link, .button-green:visited {
  border: 2px #ffffff solid;
  background-color: #8dc63f; }

/*** MISC ***/
.icon-padded {
  padding: 5px 20px; }

@media (min-width: 1024px) {
  .mobile-only {
    display: none; } }

.primary-bg {
  background-color: #8dc63f;
  color: #ffffff; }

.blue-square, .orange-square, .green-square {
  position: relative;
  text-align: left;
  padding-left: 25px; }
  @media (min-width: 480px) {
    .blue-square:before, .orange-square:before, .green-square:before {
      content: ' ';
      display: block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 0; } }

@media (min-width: 480px) {
  .blue-square:before {
    background-color: #00aeef; } }

@media (min-width: 480px) {
  .orange-square:before {
    background-color: #fcb040; } }

@media (min-width: 480px) {
  .green-square:before {
    background-color: #8dc63f; } }

.tag {
  background-color: #eae8e6;
  padding: 0 2px;
  margin-right: 3px; }

.header {
  position: relative;
  overflow: hidden;
  display: block;
  background: #716558 url("../img/Home_Top_Bkd.jpg") top center no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  width: 100%; }
  .header a, .header a:link, .header a:visited {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
    .header a:after, .header a:link:after, .header a:visited:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      width: 0;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s; }
    .header a:hover, .header a:link:hover, .header a:visited:hover {
      color: #8dc63f; }
      .header a:hover:after, .header a:link:hover:after, .header a:visited:hover:after {
        width: 100%;
        height: 1px;
        background: #8dc63f; }

.header-inner-container {
  margin: 0 auto;
  padding: 10px 20px 200px; }
  @media (min-width: 1024px) {
    .header-inner-container {
      padding: 20px 20px 150px 20px;
      max-width: 1175px; } }

.header-utils {
  width: 100%;
  max-width: 200px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right; }
  @media (min-width: 1024px) {
    .header-utils {
      position: static;
      max-width: 100%; } }
  .header-utils .list-inline-item {
    vertical-align: bottom;
    line-height: 20px; }

.header-utils .list-inline-item, .menu .list-inline-item {
  font-size: 14px; }

.header-social-list-item {
  display: none; }
  @media (min-width: 1024px) {
    .header-social-list-item {
      display: inline-block; } }

.header-social-padded {
  line-height: 0;
  vertical-align: baseline;
  margin: 0 20px 0 0;
  display: inline-block; }

.header-input-list-item {
  position: relative; }

.header-search-label {
  color: #524c45;
  position: absolute;
  right: 5px;
  top: 1px; }

.header-input-search {
  width: 200px; }
  .header-input-search:after {
    content: '\f002';
    display: block;
    position: absolute;
    right: 0; }

.logo {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  max-width: 160px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  @media (min-width: 1024px) {
    .logo {
      max-width: 160px;
      display: block;
      float: left; } }
  @media (min-width: 1180px) {
    .logo {
      max-width: 200px; } }
  .logo img {
    width: 100%;
    height: auto;
    display: block; }

.menu-bar {
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  right: 20px;
  text-align: right;
  width: 100%;
  padding-right: 20px; }
  .menu-bar .fa {
    font-size: 45px; }
  .menu-bar:hover:after {
    display: none; }
  @media (min-width: 1024px) {
    .menu-bar {
      display: none; } }

.menu {
  margin: 20px 0;
  display: block;
  width: 100%;
  max-width: 200px; }
  @media (min-width: 1024px) {
    .menu {
      vertical-align: top;
      float: right;
      max-width: 760px; } }
  @media (min-width: 1180px) {
    .menu {
      max-width: 785px; } }
  .menu .list-inline {
    background-color: rgba(1, 1, 1, 0.9);
    padding: 10px 0;
    position: absolute;
    top: 110px;
    right: -220px;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
    @media (min-width: 1024px) {
      .menu .list-inline {
        position: static;
        background: none; } }
    .menu .list-inline.is-active {
      -moz-transform: translateX(-220px);
      -o-transform: translateX(-220px);
      -webkit-transform: translateX(-220px);
      transform: translateX(-220px); }
      @media (min-width: 1024px) {
        .menu .list-inline.is-active {
          -moz-transform: translateX(0px);
          -o-transform: translateX(0px);
          -webkit-transform: translateX(0px);
          transform: translateX(0px); } }
  .menu .list-inline-item {
    text-align: right;
    padding: 0; }
    .menu .list-inline-item:first-child {
      padding-left: 0; }
    .menu .list-inline-item:last-child {
      padding-right: 0; }
    .menu .list-inline-item a {
      display: block;
      padding: 10px 20px;
      font-size: 14px;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      @media (min-width: 1024px) {
        .menu .list-inline-item a {
          padding: 0;
          font-size: 13px; } }
      @media (min-width: 1180px) {
        .menu .list-inline-item a {
          font-size: 14px; } }
      .menu .list-inline-item a:hover {
        background-color: rgba(252, 176, 64, 0.49);
        color: #ffffff; }
        @media (min-width: 1024px) {
          .menu .list-inline-item a:hover {
            background: none; } }
      .menu .list-inline-item a:after {
        display: none; }
        @media (min-width: 1024px) {
          .menu .list-inline-item a:after {
            background: none; } }
    @media (min-width: 1024px) {
      .menu .list-inline-item {
        text-align: left;
        max-width: 126px;
        vertical-align: middle;
        padding: 0 10px; } }

.header-content {
  clear: both;
  padding: 40px 0 40px;
  width: 100%;
  vertical-align: middle; }
  @media (min-width: 1024px) {
    .header-content {
      padding-top: 60px;
      max-width: 640px; } }

.footer-container {
  max-width: 1140px;
  width: 100%;
  margin: 91px auto 80px;
  font-size: .875rem; }
  .footer-container a, .footer-container a:link, .footer-container a:visited {
    color: #524c45;
    text-decoration: none;
    position: relative; }
    .footer-container a:after, .footer-container a:link:after, .footer-container a:visited:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      width: 0;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s; }
    .footer-container a:hover, .footer-container a:link:hover, .footer-container a:visited:hover {
      color: #8dc63f; }
      .footer-container a:hover:after, .footer-container a:link:hover:after, .footer-container a:visited:hover:after {
        width: 100%;
        height: 1px;
        background: #8dc63f; }
  .footer-container p {
    font-size: 1rem;
    line-height: 1.4; }
  .footer-container ul {
    list-style: none;
    margin-bottom: 35px; }
    .footer-container ul li {
      margin-bottom: 5px; }
  .footer-container .footer-headline {
    font-size: .875rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .footer-container .footer-logo {
    width: 200px;
    margin-bottom: 43px; }
  .footer-container .address {
    margin-bottom: 35px; }
  .footer-container .footer-contact {
    margin-bottom: 35px; }
    @media (min-width: 480px) {
      .footer-container .footer-contact {
        margin-bottom: 20px; } }
  .footer-container .col-av-4 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
    @media (min-width: 480px) {
      .footer-container .col-av-4 {
        width: 49%;
        padding: 0 15px;
        display: inline-block;
        vertical-align: top;
        text-align: left; } }
    @media (min-width: 1024px) {
      .footer-container .col-av-4 {
        width: 24%; } }
  .footer-container .social-facebook, .footer-container .social-twitter {
    font-size: 1.3rem; }
  .footer-container .social-facebook:link, .footer-container .social-facebook:visited {
    color: #3b5998;
    margin: 0 10px 0 20px; }
  .footer-container .social-twitter:link, .footer-container .social-twitter:visited {
    color: #4099FF; }
  .footer-container .btn-donate:link, .footer-container .btn-donate:visited {
    display: block;
    margin: 35px auto 0;
    padding: 20px 10px;
    width: 80%;
    background-color: #fcb040;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s; }
    .footer-container .btn-donate:link:hover, .footer-container .btn-donate:visited:hover {
      color: #ffffff;
      box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5); }
      .footer-container .btn-donate:link:hover:after, .footer-container .btn-donate:visited:hover:after {
        content: none; }
    @media (min-width: 480px) {
      .footer-container .btn-donate:link, .footer-container .btn-donate:visited {
        width: 100px;
        margin: 35px 0 0;
        padding: 10px; } }

.footer-copyright {
  width: 100%;
  background-color: #e1e1e1;
  padding: 25px 0 30px;
  text-align: center; }
  .footer-copyright p {
    max-width: 1140px;
    margin: 0 auto; }
  @media (min-width: 1024px) {
    .footer-copyright {
      text-align: left; } }

.home {
  background: #8dc63f url('../img/Students_green.png') no-repeat bottom center/100%;
  width: 100%;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .home {
      padding-bottom: 100px; } }

.home-intro-container {
  width: 100%;
  position: relative;
  max-width: 1170px;
  margin: -250px auto 0;
  padding: 25px 35px 0px;
  z-index: 100; }
  @media (min-width: 480px) {
    .home-intro-container {
      padding-bottom: 50px; } }
  @media (min-width: 768px) {
    .home-intro-container {
      margin-top: -100px;
      width: 100%;
      background: #fff; } }

.home-three-columns {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .home-three-columns {
      margin-bottom: 0; } }
  .home-three-columns > .column {
    text-align: center; }
    @media (min-width: 768px) {
      .home-three-columns > .column {
        border-right: 1px solid #a6a5a4;
        min-height: 300px;
        padding: 20px; } }
    .home-three-columns > .column:last-child {
      border: none;
      padding-right: 0; }

@media (min-width: 768px) {
  .home-intro-header {
    line-height: 1.4;
    margin: 10px 0 25px; } }

.home-intro-img {
  display: none; }
  @media (min-width: 768px) {
    .home-intro-img {
      height: 65px;
      margin: 0 auto 10px;
      display: block;
      vertical-align: bottom; } }

.home-intro-link {
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 15px 25px 15px 15px;
  text-align: left;
  border-radius: 8px;
  margin: 10px 15px; }
  .home-intro-link :before {
    content: "\f054";
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: 20px; }
    @media (min-width: 1024px) {
      .home-intro-link :before {
        display: none; } }
  @media (min-width: 768px) {
    .home-intro-link {
      min-height: 45px;
      text-align: center;
      border-radius: 0;
      margin: 0; } }
  .home-intro-link:link, .home-intro-link:visited {
    color: #ffffff;
    text-decoration: none; }
  .home-intro-link:hover {
    color: #ffffff;
    cusor: pointer; }
    @media (min-width: 768px) {
      .home-intro-link:hover {
        color: #524c45;
        text-decoration: underline; } }
  .home-intro-link.orange {
    background-color: #fcb040; }
    @media (min-width: 768px) {
      .home-intro-link.orange {
        background: none;
        color: #fcb040; } }
  .home-intro-link.blue {
    background-color: #00aeef; }
    @media (min-width: 768px) {
      .home-intro-link.blue {
        background: none;
        color: #00aeef; } }
  .home-intro-link.green {
    background-color: #8dc63f; }
    @media (min-width: 768px) {
      .home-intro-link.green {
        background: none;
        color: #8dc63f; } }

.home-intro-text {
  display: none; }
  @media (min-width: 768px) {
    .home-intro-text {
      display: block; } }

.sidebar-menu {
  background-color: #948b80;
  width: 240px;
  margin-right: 50px;
  padding: 30px 15px 30px 35px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }
  .sidebar-menu .sidebar-headline {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .sidebar-menu ul {
    list-style: none; }
    .sidebar-menu ul a, .sidebar-menu ul a:link, .sidebar-menu ul a:visited {
      color: #fff;
      text-decoration: none;
      position: relative; }
    .sidebar-menu ul a.is-active:before {
      content: '';
      position: absolute;
      top: 0;
      left: -35px;
      bottom: 0;
      width: 20px;
      height: 100%;
      background-color: #fcb040; }
    .sidebar-menu ul li {
      margin-bottom: 20px; }

.home-subcontent {
  color: #ffffff;
  text-align: center; }
  @media (min-width: 480px) {
    .home-subcontent {
      padding-top: 50px; } }
  @media (min-width: 1024px) {
    .home-subcontent {
      padding-top: 160px; } }

.prospect {
  background: #fcb040 url('../img/prospect-bg.jpg') no-repeat bottom center/100%;
  width: 100%;
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .prospect {
      padding-bottom: 270px; } }

.prospect-container {
  width: 90%;
  position: relative;
  max-width: 1170px;
  margin: -100px auto 0;
  padding: 38px 35px 50px;
  position: relative;
  z-index: 100;
  background: #fff; }
  @media (min-width: 768px) {
    .prospect-container {
      width: 100%; } }

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: 240px;
  background-color: #00aeef;
  padding: 10px 20px;
  font-size: 2rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }
  @media (min-width: 1024px) {
    .sidebar-toggle {
      display: none; } }

.toggle-is-active {
  top: -10px;
  left: -10px;
  transform: scale(.8, .8); }

.sidebar-menu {
  background-color: #948b80;
  width: 240px;
  margin-right: 50px;
  padding: 30px 15px 30px 35px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all .3s;
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px); }
  @media (min-width: 768px) {
    .sidebar-menu {
      -webkit-transform: translateX(-240px);
      -moz-transform: translateX(-240px);
      -o-transform: translateX(-240px);
      transform: translateX(-240px); } }
  @media (min-width: 1024px) {
    .sidebar-menu {
      position: static;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
  .sidebar-menu .sidebar-headline {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .sidebar-menu ul {
    list-style: none; }
    .sidebar-menu ul a, .sidebar-menu ul a:link, .sidebar-menu ul a:visited {
      color: #fff;
      text-decoration: none;
      position: relative; }
    .sidebar-menu ul a.is-active:before {
      content: '';
      position: absolute;
      top: 0;
      left: -35px;
      bottom: 0;
      width: 20px;
      height: 100%;
      background-color: #fcb040; }
    .sidebar-menu ul li {
      margin-bottom: 20px; }

.sidebar-is-active {
  -webkit-transform: translateX(-23px);
  -moz-transform: translateX(-23px);
  -ms-transform: translateX(-23px);
  transform: translateX(-23px); }
  @media (min-width: 768px) {
    .sidebar-is-active {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }

.content-container {
  width: 100%;
  display: block;
  padding-bottom: 50px; }
  @media (min-width: 1024px) {
    .content-container {
      width: 70%;
      display: inline-block; } }
  .content-container .content-headline {
    margin-bottom: 25px;
    font-size: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    color: #fcb040; }
  .content-container .content-subhead {
    font-size: 1.375rem;
    margin-bottom: 35px; }
  .content-container p {
    margin-bottom: 50px; }
  .content-container hr {
    margin-bottom: 50px;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1; }
  .content-container .btn:link, .content-container .btn:visited {
    display: block;
    max-width: 310px;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 1.125rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: #8dc63f;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s; }
    .content-container .btn:link:hover, .content-container .btn:visited:hover {
      box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5); }

.the-team {
  background: #fcb040 url('../img/prospect-bg.jpg') no-repeat bottom center/100%;
  width: 100%;
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .the-team {
      padding-bottom: 270px; } }

.the-team-container {
  width: 90%;
  position: relative;
  max-width: 1170px;
  margin: -100px auto 0;
  padding: 38px 35px 50px;
  position: relative;
  z-index: 100;
  background: #fff; }
  @media (min-width: 768px) {
    .the-team-container {
      width: 100%; } }

.content-container {
  width: 100%;
  display: block;
  padding-bottom: 50px; }
  @media (min-width: 1024px) {
    .content-container {
      width: 70%;
      display: inline-block; } }
  .content-container .content-headline {
    margin-bottom: 25px;
    font-size: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    color: #fcb040; }
  .content-container .content-subhead {
    font-size: 1.375rem;
    margin-bottom: 35px; }

.meet-the-team {
  width: 100%; }
  .meet-the-team .team-listing {
    list-style: none; }
    .meet-the-team .team-listing li {
      margin-bottom: 30px;
      display: inline-block;
      width: 100%;
      vertical-align: top;
      text-align: center;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s; }
      @media (min-width: 480px) {
        .meet-the-team .team-listing li {
          width: 49%; } }
      @media (min-width: 768px) {
        .meet-the-team .team-listing li {
          width: 32%; } }
      @media (min-width: 1024px) {
        .meet-the-team .team-listing li {
          width: 16%; } }
      .meet-the-team .team-listing li:hover {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05); }
      .meet-the-team .team-listing li img.team {
        margin-bottom: 5px;
        width: 149px;
        height: 149px;
        border-radius: 50%;
        border: 3px solid #f0f5f7; }
      .meet-the-team .team-listing li .team-name {
        font-size: .875rem;
        font-family: 'Montserrat', sans-serif;
        color: #524c45; }
      .meet-the-team .team-listing li .team-title {
        font-size: .875rem; }
